:root {
  background-image: url("/images/homeback.png");
  background-size: cover;
  --theme-color: palevioletred;
}

.home {
  width: 100vw;
  height: 70rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: -10px;
  overflow: hidden; /* Prevents overflow issues */
}
